h1{
    column-rule-color: purple;
}
h2{
    color: bisque;
}
p{
    color: yellow;
}

#heading5{
    color: brown;
    background-color: black;
}
.about{
    color: red;
}
.info{
    color: brown;
}

div{
    color: aquamarine;
}
span{
    color: pink;
    text-transform: uppercase;
}

.background{
    background-color: gray;
}