/*h1{
    column-rule-color: purple;
}
h2{
    color: bisque;
}
p{
    color: yellow;
}

#heading5{
    color: brown;
    background-color: black;
}
.about{
    color: red;
}
.info{
    color: brown;
}

div{
    color: aquamarine;
    background: black;
}
span{
    color: pink;
    text-transform: uppercase;
    font-size: 2em;
    font-family: system-ui  ;
}
/* 1em= 16px 

.background{
    background: gray;
    width: 50vw;
    height: 50vh;
}
*/

h1{
    color: black;
    background: blue;
    padding: 25px 30px 35px 40px;
    margin: 50px;
    margin-bottom: 0px;
    border-style: solid;
    border-color: pink ;
    border-radius: 25px;
}
/*
p{
    color: black;
    background: red;
    padding: 30px 25px;
    margin-top: 0px;
    margin-left: 50px;
    border-style: dotted;
    border-radius: 100%;
}
*/
ul {
    list-style-type: square;
}

div{
    height: 300px;
    color: red;
    align-items: center;
    box-sizing: border-box;
}
.beans{
    background: url(/CSS/coffee_beans.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-position: center;
    background-attachment: fixed;
    justify-content: center;
}
h3{
    height: 300px;
    background: url(/CSS/coffee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    background-attachment: fixed;
    display: flex;
    clear: ;
}

@media screen and (min-width:500px) {
    body{
        background: yellow ;
    }
}
p::first-line{
    font-weight: bold;
}
p::first-letter{
    font-size: 200px;
}
p:hover{
    color: blue;
}
a:visited{
    color: brown;
}
a:hover{
    font-size: 50px;
}
p:active{
    
}