h1{
    column-rule-color: purple;
}
h2{
    color: bisque;
}
p{
    color: yellow;
}

#heading5{
    color: brown;
    background-color: black;
}
.about{
    color: red;
}
.info{
    color: brown;
}

div{
    color: aquamarine;
    background: black;
}
span{
    color: pink;
    text-transform: uppercase;
    font-size: 2em;
    font-family: system-ui;
}
/* 1em= 16px */

.background{
    background: gray;
    width: 50vw;
    height: 50vh;
}
