// in SCSS we create global declarations with $ symbol

@import './variables.scss';


@mixin flexcenter($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background:lighten($primary-color, 100%);
        color: darken($text-color, 100%); 
    }
}   

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

// we can create a CSS with @mixin(it is sismilar like function) and we can call wherever we want, and also we can give pass arguments


body {
    background: $primary-color;                 
    color: $text-color;
}

.main {
    @include flexcenter(row);
    width: 100%-20%;
    margin: 0 auto;

    // &- Represent Parent
    #{&}__paragraph {
        font-weight: map-get($font-weight, bold);

        &:hover {
            color: aqua;
        }
    }

    @include mobile{
        flex-direction: column;
    }
}
// we can import(@import) scss files and it will reflect the CSS inside of that file
// we can write function also (@funtion)



.light {
    @include theme($light-theme: true);
}