button{
    background-color: green;
    width: 120px;
    height: 45px;
    padding: 5px;
}
.icons{
    justify-content: space-between;
}
.fa-brands{
    color: green;
}
h1{
    padding-bottom: 10px;
}
.head{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-top: -10px;
    background-color: rgb(47, 172, 47);
    width: 100%;
    height: 230px;
}

input{
    width: 550px;
    height: 40px;
    border-radius: 30px;
}
div{
    height: 200px;
    width: 300px;
    display: inline-block;
    border: solid;
    border-color: whitesmoke;
}

div:hover {
    box-shadow: 3px violet;
}

.launch{
    color: white;
    padding-top: 30px;
    text-align: center;
    background-color: rgb(47, 172, 47);
    height: 250px;
    width: 100%;
}
p{
    text-align: center;
}
