* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 150px;
    margin: 15px;
}

button {
    padding: 10px;
    margin: 15px;
    outline: none;
    border: 2px solid;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #596e79;
}

.side {
    width: 15%;
    height: 79.5vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: #c7b198;
    padding: 30px;
}

.side p {
    font-size: 20px;
    color: black;
    padding: 10px;
}

a {
    text-decoration: none;
    text-decoration-color: none;
}

a:hover {
    background: #596e79;
}

a:link {
    color: none;
}
.bottom{
    display: flex;
}
.right{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 80px 300px;

}
.Project{
    background: #f0ece2;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}